### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

#check if any rows with missing data
purchase_data.count()

purchase_data_df = pd.DataFrame(purchase_data)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
#Similar to Good ReadsSummry D1Exercise 11
unique_users = len(purchase_data["SN"].unique())
print(unique_users)

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#Similar to D1 Exercise 11 

#<><><><><><><><><><><>
#ADD CLEANER FORMATTING
#<><><><><><><><><><><>

#Move Price and Item to the front,
#Do not need to call, but optional


#Number of unique Items -> Same as unique users but change column
unique_items = len(purchase_data["Item ID"].unique())


#<><><><><><><><><><><>
#HOW TO SHOW $ in this??
#<><><><><><><><><><><>

#Get Average of Prices using mean function
#NEED TO ROUND (Rounding in printing step)
average_price = purchase_data["Price"].mean()

#Number of Purchases
number_purchases = len(purchase_data["Purchase ID"])


#<><><><><><><><><><><>
#HOW TO SHOW $ in this??
#<><><><><><><><><><><>

#Get total revenue using sum function (D1 E6)
total_revenue = purchase_data["Price"].sum()


#Desired output (#Uniuqe Items, Avg Price, # of Purchases, Total Revenue)
#D1 E11
#Make sure to capitalize D, F in DataFrame you dummy
#for scalar values you need to pass an index (0) https://stackoverflow.com/questions/17839973/constructing-pandas-dataframe-from-values-in-variables-gives-valueerror-if-usi

summary_purchasedata_df = pd.DataFrame({
    "Number of Unique Items": unique_items,
    "Average Price": round(average_price, 2),
    "Number of Purchases": number_purchases,
    "Total Revenue": total_revenue},index=[0])
summary_purchasedata_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
#Similar to D2 E2 or D2 E 5

#Is it possible to also do a conditional statement == "Male" Etc?
gender_counts = purchase_data["Gender"].value_counts()
gender_counts
#Convert series into dataframe
gender_counts_df = pd.DataFrame(gender_counts)
gender_counts_df.head()
#Add column with percentage value
#Holy gender inequality batman
gender_counts_df["Gender Percentages"] = (
gender_counts_df["Gender"]/number_purchases
)
gender_counts_df.head()

#<><><><><><><><><><><>
#Need to Round and %
#<><><><><><><><><><><>

                       Gender  Gender Percentages
Male                      652            0.835897
Female                    113            0.144872
Other / Non-Disclosed      15            0.019231


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [29]:
#lets try groupby 
#Set up a new sub-DF that is all sorted by gender, so all returns will continue to carry the same sort
#group by gender
g_grouping = purchase_data_df.groupby("Gender")

#Use G_grouping as the data backbone

#Purchase count for gender is sum of # purchases that the sorted group made
#Use purchase ID as unique ID for each purchase so all purchases are recorded
g_purchase_count = g_grouping["Purchase ID"].count()

#Test Script for gender_user to show the data
g_purchase_count


#Average purchase price (for gender as a whole) is simply to take all purchases made by these players and use mean
#Use Price sort to pick all prices
g_avg_price = g_grouping["Price"].mean()
g_avg_price

#Average total per person could be done 1) by identifying all unique users 2) Divide total users by unique users 
# TotalU/UniqueU = Purchases/person which when multiplied by average spending will give us the avg total per person
# This didnt work <><><><><><>><<<>><><><>><

#Try summing of all purchases by gender, then dividing by the amount of unique users per gender?
unique_sn = g_grouping["SN"].count()
g_total_price = g_grouping["Price"].sum()

#Summary DataFrame (CAPITALIZE F you dummy)
purch_analysis_gender_df=pd.DataFrame({
    #First Column to be Purchase count
    "Purchase Count": g_purchase_count,
    #Second Column to be purchase price
    "Average Purchase Price": g_avg_price,
    #Third Column to be average per person AvP*gpc/uSN
    "Average Purchase per Person": g_avg_price*g_purchase_count/unique_sn   
    #This ABOVE DID NOT WORK
    #"Average Purchase per Person": g_total_price/unique_sn
})
purch_analysis_gender_df.head()

#HOW TO FORMAT AS COSTS?

,Purchase Count,Average Purchase Price,Average Purchase per Person
Gender,,,
Female,113,3.203009,3.203009
Male,652,3.017853,3.017853
Other / Non-Disclosed,15,3.346000,3.346000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame